.propertyPageSingle {
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--light-color);
}

.sliderContainer {
  display: block;
  position: relative;
}
.rightSLideArrow {
  position: absolute;
  top: 50%;
  right: 5%;
}
.leftSLideArrow {
  position: absolute;
  top: 50%;
  left: 5%;
}
.clientCard {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem;
  margin: 4rem 0;
}

.clientCard img {
  object-fit: cover;
  width: 100%;
  height: 22vh;
}

.customRow {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.customColumn {
  width: 100%;
}

@media (min-width: 1200px) {
  .customColumn {
    width: 58.333333%;
    /* col-lg-7 width */
  }
}

@media (min-width: 1400px) {
  .customColumn {
    width: 58.333333%;

    /* col-xxl-8 width */
  }
}

.propertyMeta {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0rem;
}

.propertyMeta .property-tag {
  background: var(--theme-color);
  font-size: 18px;
  color: var(--white-color);
  border-radius: 50px;
  padding: 0px 16px;
}

.propertyMeta .property-tag:hover {
  background: var(--theme-color2);
}

.propertyMeta .metaLink {
  color: var(--theme-color);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.sliderContainer {
  overflow: hidden;
  width: 100%;
  height: 60vh;
  margin-bottom: 5%;
}
.propertyTag {
  font-size: 18px;
  color: var(--white-color);
  border-radius: 50px;
  padding: 5.5px 16px;
  background-color: var(--theme-color);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.propertyTag:hover {
  background: var(--theme-color2);
}

.pageTitle {
  line-height: 1.333;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--theme-color);
  margin-bottom: 1rem;
}

.propertyPageSingle p {
  color: var(--theme-color);
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 1rem;
}

.propertyGridList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--theme-color);
  border-radius: 8px;
  padding: 5%;
  list-style: none;
  margin: 0;
  gap: 0.5rem;
}

.propertyGridList li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 12px;
}

.propertyGridListIcon {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 44px;
  height: 44px;
  line-height: 39px;
  border-radius: 4px;
  border: 1px solid rgba(164, 181, 186, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyGridListTitle {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--gray-color);
  line-height: 1.333;
}

.propertyGridListText {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-color) !important;
  line-height: 32px;
}

.galleryHeadding {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--theme-color);
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}

.galleryImgContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 3%;
}

.galleryImg {
  border-radius: 8px;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40%;
  height: 30vh;
  margin-top: 2%;
}
.galleryImg img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.galleryImg2 img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.galleryImg2 {
  border-radius: 8px;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 55%;
  height: 30vh;
  margin-top: 2%;
}

.galleryImg2 img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.featureContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.featureContainer ul {
  list-style: circle;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.featureContainer ul li {
  width: 48%;
}

.locationMap {
  position: relative;
}

.contactMap {
  line-height: 0px;
  max-width: 1520px;
  margin: 0 auto;
}

.contactMap iframe {
  width: 100%;
  height: 365px;
  border-radius: 16px;
}

.mapAddress {
  border-radius: 10px;
  background: var(--theme-color);
  overflow: hidden;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px;
  gap: 14px;
  max-width: 252px;
  position: absolute;
  right: 95px;
  bottom: 50px;
}

.thumb {
  width: 67px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--gray-color);
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mediaBody {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.title {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: var(--body-font);
}

.text {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: var(--gray-color) !important;
  margin-bottom: 8px !important;
}

.floorPlan {
  display: block;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.propertyTab {
  margin-bottom: 0px;
  margin-top: 0px;
  border: 0;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.propertyTab button {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  background: transparent;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 50px;
  cursor: pointer;
}

.propertyTab button:hover {
  background: var(--theme-color);
  color: var(--white-color);
}

.tabContent {
  margin-top: 0;
}

.propertyPlan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 47px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.propertyThumb {
  display: inline-block;
  border-radius: 16px;
  padding: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  min-height: 30vh;
  max-height: auto;
  width: 45%;
  height: 100%;
  border: 1px solid var(--white-color);
  margin-top: 4%;
}
.propertyThumb img {
  height: 100%;
  width: 100%;
}
.property_grid_details {
  width: 45%;
}
.gridTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 8%;
  margin-bottom: 3%;
  color: var(--theme-color);
}

.gridText {
  font-size: 18px !important;
  color: var(--theme-color) !important;
  line-height: 1.777 !important;
  margin-bottom: 0 !important;
}

.videoBox {
  margin-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  width: 30vw;
  height: 45vh;
}

.videoBox iframe{
  height: 100%;
  width: 100%;
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--white-color);
}

.customColTwo {
  width: 41%;
}

/* For smaller screens */
@media (max-width: 991.98px) {
  .customColFirst {
    width: 100%;
  }

  .customColTwo {
    width: 100%;
  }
}

/* right side css  */
.sidebarArea {
  margin-bottom: 30px;
}

.widgetSearch {
  padding: var(--widget-padding-y, 30px) var(--widget-padding-x, 30px);
  background-color: var(--theme-color);
  margin-bottom: 24px;
  position: relative;
  border-radius: 8px;
  border: 0;
}

.searchForm {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchForm input {
  border: 1px solid rgba(164, 181, 186, 0.2);
  font-weight: 400;
  color: var(--white-color);
  background-color: transparent;
  width: 100%;
  border-radius: 1rem;
  padding: 3% 2%;
}

.searchForm input::placeholder {
  color: var(--white-color);
}

.searchForm input:focus {
  outline: none;
}

.searchForm button {
  cursor: pointer;
  border-radius: 2rem;
  /* width: 35%; */
  padding: 3% 5%;
  margin: 0 auto;
  border: 1px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.searchForm button img {
  height: 100%;
  width: auto;
  object-fit: contain;
  filter: brightness(200);
}
.searchForm button:hover {
  background-color: var(--white-color);
  color: var(--theme-color);
}
.searchForm button:hover img {
  filter: brightness(0);
}

.widgetTitle {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--body-font);
  color: var(--white-color);
  line-height: 1em;
  padding-bottom: 20px;
  margin: -0.12em 0 30px 0;
}

.widgetTitle:before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgba(164, 181, 186, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}

.widgetTitle:after {
  background-color: var(--gray-color);
  width: 50px;
  height: 3px;
  border-radius: 0;
  margin-bottom: 0;
}

.sidebarArea ul li {
  list-style: none;
}

.ulLink {
  color: var(--white-color);
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 20px 0px 20px 32px;
  font-size: 16px;
  line-height: 1.313;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

.ulLink:before {
  content: "\e0cc";
  position: absolute;
  left: 0;
  top: 21px;
  font-family: var(--icon-font);
  font-weight: 300;
  color: var(--gray-color);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.widgetSearch ul {
  margin: -20px 0 -20px 0;
  list-style: none;
  padding: 0;
}

.widgetSearch ul li {
  display: block;
  position: relative;
}

.recentPost {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: start;
  /* margin-bottom: 30px; */
  color: var(--white-color);
}

.mediaImg {
  margin-right: 24px;
  width: 80px;
  height: 5rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.mediaImg img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  vertical-align: middle;
  border: none;
}

.mediaImg:after {
  content: "\f0c1";
  font-family: var(--icon-font);
  position: absolute;
  inset: 0;
  text-align: center;
  line-height: 85px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--theme-color2);
  pointer-events: none;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 3px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recentPost:hover .mediaImg img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.recentPost:hover .mediaImg:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mediaBody {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.postTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.777;
  margin: -0.35em 0 3px 0;
  font-family: var(--body-font);
  color: var(--white-color);
  text-transform: capitalize;
}

.mediaLink {
  text-decoration: none;
  color: inherit;
}

.postTitle:hover .mediaLink {
  color: var(--theme-color2);
}

.recentPostMeta {
  margin-bottom: -0.35em;
}
.postDate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.metaLink2 {
  text-transform: capitalize;
  font-size: 16px;
  color: var(--gray-color);
  font-family: var(--body-font);
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.mediaBody:hover .metaLink {
  color: var(--theme-color2);
}

.tagcloud {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
}

.tagcloud .tagCloudeLink {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--body-font);
  text-transform: capitalize;
  line-height: 1;
  padding: 9.5px 10px;
  color: var(--gray-color);
  background-color: rgba(164, 181, 186, 0.2);
  border-radius: 4px;
  box-shadow: none;
  border: 0;
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}

.tagcloud .tagCloudeLink:hover {
  background-color: var(--theme-color2);
  color: var(--theme-color);
}

.blogBanner {
  background: url("https://cdn.pixabay.com/photo/2022/02/27/18/40/city-7037835_1280.jpg");
  padding: 70px 60px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: var(--theme-color);
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 0;
}

.bannerContainer {
  text-align: center;
}

.bannerContainer:after {
  content: "";
  position: absolute;
  inset: 32px;
  border-radius: 8px;
  background: rgba(28, 45, 55, 0.6);
  -webkit-backdrop-filter: blur(11.6px);
  backdrop-filter: blur(11.6px);
  z-index: -1;
}

.bannerTitle {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--body-font);
  line-height: 1.5em;
  margin-bottom: 30px;
  color: var(--white-color);
  margin-top: -0.35em;
  margin: 0 0 15px 0;
}

.bannerLogo {
  display: inline-block;
  background: var(--white-color);
  border-radius: 100px;
  padding: 12px 37px;
  margin-bottom: 19px;
}

.bannerLogo img {
  max-width: 100%;
  height: auto;
}

.bannerSubtitle {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  font-family: var(--body-font);
  margin-bottom: 4px;
  line-height: 1.333;
}

.bannerLink {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--body-font);
  margin-bottom: 17px;
  line-height: 1.417;
}

.bannerCallLink {
  text-decoration: none;
  color: var(--white-color);
}

.bannerBtn {
  border: 1px solid var(--white-color);
  padding: 16px 24px;
  background: transparent;
  text-decoration: none;
  outline: 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  color: var(--white-color);
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  min-width: 125px;
  border-radius: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.bannerBtn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  left: -100px;
  opacity: 0.3;
  background-image: -webkit-linear-gradient(
    330deg,
    rgba(108, 108, 108, 0) 30%,
    rgba(108, 108, 108, 0.5),
    rgba(108, 108, 108, 0) 70%
  );
  background-image: linear-gradient(
    120deg,
    rgba(108, 108, 108, 0) 30%,
    rgba(108, 108, 108, 0.5),
    rgba(108, 108, 108, 0) 70%
  );
}

.bannerBtn:after {
  content: "";
  position: relative;
  background-image: url(../../../public/icon/arrow-right.svg);
  background-size: 100% 100%;
  transition: 0.4s;
  filter: brightness(0) grayscale(9) invert(2);
  color: var(--white-color);
  width: 22px;
  height: 22px;
}

.bannerBtn:hover {
  background-color: var(--white-color);
  color: var(--theme-color);
}

.bannerBtn:focus:before,
.bannerBtn:hover:before {
  -webkit-animation: shine 1.5s ease-out infinite;
  animation: shine 1.5s ease-out infinite;
}

.bannerBtn:hover::after {
  -webkit-filter: brightness(9);
  filter: brightness(0);
}

/* ////////////////////////// new slider ///////////////////////// */

.heroHomeRightData {
  height: auto;
  width: 100%;
}

.rightSideAnimation {
  width: 100%;
  height: 60vh;
  border-radius: 2rem;
  overflow: hidden;
}

.rightSideAnimation img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}

@keyframes imgShine {
  100% {
    left: 125%;
  }
}

.heroHomeRightDataSlider {
  width: 100%;
  display: flex;
  overflow-y: auto;
  height: auto;
  gap: 3%;
  margin-bottom: 5%;
}
.heroHomeRightDataSlider::-webkit-scrollbar {
  display: none;
}

.heroHomeRightDataSlider_imageBox {
  min-width: 20.2vw;
  max-width: 20.2vw;
  height: 20vh;

  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.heroHomeRightDataSlider_imageBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.heroHomeRightDataSlider_container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 2%;
}

.heroHomeRightDataLeftArrow {
  position: absolute;
  left: -2.5%;
  top: 40%;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  justify-content: center;
  z-index: 1;
}
.heroHomeRightDataLeftArrow img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.heroHomeRightDataRightArrow {
  position: absolute;
  right: -2.5%;
  top: 40%;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroHomeRightDataRightArrow img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}
.indexShowBox {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.644);
  display: flex;
  align-items: center;
  justify-content: center;
}
.indexShowBox p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.propertyPrice {
  display: flex;
  gap: 1rem;
  margin-top: 0;
}
.propertyPrice span{
  font-size: 1.3rem;
  font-weight: 600;
}
/* ///////////////////////////////////////////////// mobile view ////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {
  .propertyPageSingle {
    padding-bottom: 0px;
    padding-top: 5%;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--light-color);
  }

  .sliderContainer {
    display: block;
    position: relative;
  }
  .rightSLideArrow {
    position: absolute;
    top: 50%;
    right: 5%;
  }
  .leftSLideArrow {
    position: absolute;
    top: 50%;
    left: 5%;
  }
  .clientCard {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1rem;
    margin: 4rem 0;
  }

  .clientCard img {
    object-fit: cover;
    width: 100%;
    height: 22vh;
  }

  .customRow {
    margin-right: 0px;
    margin-left: 0px;
  }

  .pageTitle {
    margin-bottom: 0.5rem;
  }

  .propertyGridList {
    grid-template-columns: repeat(2, 1fr);
  }

  .galleryHeadding {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .galleryImgContainer {
    gap: 1rem;
  }

  .galleryImg {
    width: 100%;
    height: 25vh;
  }

  .galleryImg2 {
    width: 100%;
    height: 25vh;
  }

  .mapAddress {
    padding: 10px;
    gap: 10px;
    right: 10%;
  }

  .thumb {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--gray-color);
  }

  .propertyTab {
    flex-wrap: wrap;
  }

  .propertyPlan {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .propertyThumb {
    width: 100%;
  }

  .property_grid_details {
    width: 100%;
  }

  .gridText {
    font-size: 18px !important;
    color: var(--theme-color) !important;
    line-height: 1.777 !important;
    margin-bottom: 0 !important;
  }

  .videoBox {
    margin-bottom: 30px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--white-color);
  }

  .customColTwo {
    width: 33.3333%;
  }

  /* For smaller screens */
  @media (max-width: 991.98px) {
    .customColFirst {
      width: 100%;
    }

    .customColTwo {
      width: 100%;
    }
  }

  /* right side css  */
  .sidebarArea {
    margin-bottom: 30px;
  }

  .widgetSearch {
    padding: var(--widget-padding-y, 30px) var(--widget-padding-x, 30px);
    background-color: var(--theme-color);
    margin-bottom: 24px;
    position: relative;
    border-radius: 8px;
    border: 0;
  }

  .searchForm {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .searchForm input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 56px;
    border-radius: 50px;
    padding-right: 75px;
    padding-left: 32px;
    border: 0;
    background: rgba(164, 181, 186, 0.2);
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
  }

  .searchForm input::placeholder {
    color: var(--white-color);
  }

  .searchForm input:focus {
    outline: none;
  }

  .searchForm button {
    border: none;
    font-size: 14px;
    background-color: transparent;
    color: var(--white-color);
    display: inline-block;
    width: auto;
    height: 100%;
    padding: 0 32px 0 19px;
    text-align: center;
    border-radius: 0 50px 50px 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .searchForm button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 15px;
    background: var(--white-color);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .widgetTitle {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--body-font);
    color: var(--white-color);
    line-height: 1em;
    padding-bottom: 20px;
    margin: -0.12em 0 30px 0;
  }

  .widgetTitle:before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: rgba(164, 181, 186, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .widgetTitle:after {
    background-color: var(--gray-color);
    width: 50px;
    height: 3px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .sidebarArea ul li {
    list-style: none;
  }

  .ulLink {
    color: var(--white-color);
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 20px 0px 20px 32px;
    font-size: 16px;
    line-height: 1.313;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    text-decoration: none;
  }

  .ulLink:before {
    content: "\e0cc";
    position: absolute;
    left: 0;
    top: 21px;
    font-family: var(--icon-font);
    font-weight: 300;
    color: var(--gray-color);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .widgetSearch ul {
    margin: -20px 0 -20px 0;
    list-style: none;
    padding: 0;
  }

  .widgetSearch ul li {
    display: block;
    position: relative;
  }

  .recentPost {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .mediaImg {
    margin-right: 24px;
    width: 80px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
  }

  .mediaImg img {
    width: 100%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    vertical-align: middle;
    border: none;
  }

  .mediaImg:after {
    content: "\f0c1";
    font-family: var(--icon-font);
    position: absolute;
    inset: 0;
    text-align: center;
    line-height: 85px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--theme-color2);
    pointer-events: none;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    border-radius: 3px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .recentPost:hover .mediaImg img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .recentPost:hover .mediaImg:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .mediaBody {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .postTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.777;
    margin: -0.35em 0 3px 0;
    font-family: var(--body-font);
    color: var(--white-color);
    text-transform: capitalize;
  }

  .mediaLink {
    text-decoration: none;
    color: inherit;
  }

  .postTitle:hover .mediaLink {
    color: var(--theme-color2);
  }

  .recentPostMeta {
    margin-bottom: -0.35em;
  }

  .metaLink2 {
    text-transform: capitalize;
    font-size: 16px;
    color: var(--gray-color);
    font-family: var(--body-font);
    text-decoration: none;
    outline: 0;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .mediaBody:hover .metaLink {
    color: var(--theme-color2);
  }

  .tagcloud {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tagcloud .tagCloudeLink {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--body-font);
    text-transform: capitalize;
    line-height: 1;
    padding: 9.5px 10px;
    color: var(--gray-color);
    background-color: rgba(164, 181, 186, 0.2);
    border-radius: 4px;
    box-shadow: none;
    border: 0;
    text-decoration: none;
    outline: 0;
    transition: all ease 0.4s;
  }

  .tagcloud .tagCloudeLink:hover {
    background-color: var(--theme-color2);
    color: var(--theme-color);
  }

  .blogBanner {
    background: url("https://cdn.pixabay.com/photo/2022/10/02/13/07/autumn-7493439_640.jpg");
    padding: 70px 60px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: var(--theme-color);
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 0;
  }

  .bannerContainer {
    text-align: center;
  }

  .bannerContainer:after {
    content: "";
    position: absolute;
    inset: 32px;
    border-radius: 8px;
    background: rgba(28, 45, 55, 0.6);
    -webkit-backdrop-filter: blur(11.6px);
    backdrop-filter: blur(11.6px);
    z-index: -1;
  }

  .bannerTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--body-font);
    line-height: 1.5em;
    margin-bottom: 30px;
    color: var(--white-color);
    margin-top: -0.35em;
    margin: 0 0 15px 0;
  }

  .bannerLogo {
    display: inline-block;
    background: var(--white-color);
    border-radius: 100px;
    padding: 12px 37px;
    margin-bottom: 19px;
  }

  .bannerLogo img {
    max-width: 100%;
    height: auto;
  }

  .bannerSubtitle {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--body-font);
    margin-bottom: 4px;
    line-height: 1.333;
  }

  .bannerLink {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--body-font);
    margin-bottom: 17px;
    line-height: 1.417;
  }

  .bannerCallLink {
    text-decoration: none;
    color: var(--white-color);
  }

  .bannerBtn {
    border: 1px solid var(--white-color);
    padding: 16px 24px;
    background: transparent;
    text-decoration: none;
    outline: 0;
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    min-width: 125px;
    border-radius: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
  }

  .bannerBtn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: -100px;
    opacity: 0.3;
    background-image: -webkit-linear-gradient(
      330deg,
      rgba(108, 108, 108, 0) 30%,
      rgba(108, 108, 108, 0.5),
      rgba(108, 108, 108, 0) 70%
    );
    background-image: linear-gradient(
      120deg,
      rgba(108, 108, 108, 0) 30%,
      rgba(108, 108, 108, 0.5),
      rgba(108, 108, 108, 0) 70%
    );
  }

  .bannerBtn:after {
    content: "";
    position: relative;
    background-image: url(../../../public/icon/arrow-right.svg);
    background-size: 100% 100%;
    transition: 0.4s;
    filter: brightness(0) grayscale(9) invert(2);
    color: var(--white-color);
    width: 22px;
    height: 22px;
  }

  .bannerBtn:hover {
    background-color: var(--white-color);
    color: var(--theme-color);
  }

  .bannerBtn:focus:before,
  .bannerBtn:hover:before {
    -webkit-animation: shine 1.5s ease-out infinite;
    animation: shine 1.5s ease-out infinite;
  }

  .bannerBtn:hover::after {
    -webkit-filter: brightness(9);
    filter: brightness(0);
  }

  /* ////////////////////////// new slider ///////////////////////// */

  .heroHomeRightData {
    height: auto;
    width: 100%;
  }

  .rightSideAnimation {
    height: 20vh;
    border-radius: 0.5rem;
  }

  .heroHomeRightDataSlider_imageBox {
    min-width: 47vw;
    max-width: 47vw;
    border-radius: 0.5rem;
    height: 10vh;
  }
  .heroHomeRightDataSlider_imageBox img {
    border-radius: 0.5rem;
  }

  .heroHomeRightDataLeftArrow {
    display: none;
  }

  .heroHomeRightDataRightArrow {
    display: none;
  }
  .searchForm button {
    cursor: pointer;
    border-radius: 2rem;
    padding: 4% 5%;
    margin: 0 auto;
    border: 1px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .searchForm button img {
    height: 100%;
    object-fit: contain;
  }
}
