.ServiceContainer {
  width: 100%;
  height: auto;
  padding: 6% 4%;
  padding-bottom: 8%;
  position: relative;
  margin-top: 0;
}
.serviceHeadingContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 2rem;
}
.serviceHeadingBox {
  width: 50%;
  height: auto;
}
.serviceHeadingBox h1 {
  font-size: 2.8rem;
  color: var(--black-color);
}
.serviceHeadingBox p {
  font-size: 1.2rem;
  line-height: 5vh;
  margin-top: 3%;
  color: var(--light-color);
}
.serviceBtnBox {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.serviceBtnBox button {
  padding: 2.5% 7%;
  font-size: 1rem;
  border-radius: 3rem;
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid var(--black-color);
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.serviceBtnBox button:after {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.serviceBtnBox button:hover:after {
  -webkit-animation: imgShine 1.5s;
  animation: imgShine 1.5s;
}

@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}

@keyframes imgShine {
  100% {
    left: 125%;
  }
}

.serviceBtnBox button img {
  height: 3vh;
  width: auto;
  object-fit: contain;
  -webkit-filter: brightness(9);
  filter: brightness(80);
  margin-top: 2%;
}

.serviceAllCards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4%;
  gap: 2rem;
}
.serviceCard {
  width: 100%;
  height: auto;
  z-index: 2;
}

.serviceCard:hover .cardCircle {
  background-color: var(--gray-color);
}
.cardCircle {
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  border: 1px solid var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardCircle img {
  height: 45%;
  width: 45%;
  object-fit: contain;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -webkit-filter: brightness(5);
  filter: brightness(5);
}

.serviceCard:hover .cardCircle img {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
.cardImageBox {
  height: 40vh;
  width: 100%;
  margin-top: 4%;
  border-radius: 1rem;
  background-color: var(--white-color);
  z-index: 2;
  overflow: hidden;
}
.cardImageBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.serviceCard h2 {
  font-size: 1.4rem;
  margin-top: 4%;
  color: var(--white-color);
}
.serviceCard p {
  font-size: 1.2rem;
  margin-top: 4%;
  color: var(--light-color);
}

/* ///////// animation ///////// */
.waveAnim {
  position: absolute;
  top: -3%;
  left: 4%;
  display: block;
  width: 8vw;
  object-fit: contain;
  height: 10vh;
  background-repeat: repeat;
  background-size: auto;
  -webkit-animation: wave 70s linear infinite;
  animation: wave 70s linear infinite;
  /* background-image: url("../../../public/shape/section_shape_2_2.jpg"); */
  background-size: cover;
  background-position: center;
}
@-webkit-keyframes wave {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top left -2000px;
  }
}

@keyframes wave {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top left -2000px;
  }
}

.jump {
  position: absolute;
  top: 8%;
  right: 2%;
  display: block;
  /* background-image: url("../../../public/shape/section_shape_2_3.jpg"); */
  background-size: cover;
  background-position: center;
  -webkit-animation: jumpAni 7s linear infinite;
  animation: jumpAni 7s linear infinite;
  z-index: 1;
  display: none;
}

@-webkit-keyframes jumpAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jumpAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.galleryShape2 {
  height: 8vw;
  width: 8vw;
  position: absolute;
  bottom: 5%;
  left: 11%;
  display: block;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  z-index: 1;
}
.galleryShape2 img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* //////////////////////////////// mobile view ////////////////////////// */

@media screen and (max-width: 767px) {
  .ServiceContainer {
    border-radius: 1vh;
  }
  .serviceHeadingContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .serviceHeadingBox {
    width: 100%;
  }

  .serviceHeadingBox p {
    line-height: 2.4vh;
  }
  .serviceBtnBox {
    width: 100%;
    justify-content: start;
  }

  .serviceBtnBox button:hover:after {
    -webkit-animation: imgShine 1.5s;
    animation: imgShine 1.5s;
  }

  @-webkit-keyframes imgShine {
    100% {
      left: 125%;
    }
  }

  @keyframes imgShine {
    100% {
      left: 125%;
    }
  }

  .serviceBtnBox button img {
    height: 2vh;
  }

  .serviceAllCards {
    grid-template-columns: repeat(1, 1fr);
  }

  .serviceCard:hover .cardCircle {
    background-color: var(--title-dark);
  }
  .cardCircle {
    height: 7vh;
    width: 7vh;
  }

  .cardImageBox {
    height: 30vh;
  }

  .serviceCard h2 {
    font-size: 1.3rem;
    margin-top: 4%;
  }
  .serviceCard p {
    font-size: 1rem;
  }

  /* ///////// animation ///////// */
  .waveAnim {
    display: none;
  }

  .jump {
    display: none;
  }
}
