.privacyHero {
  background-color: white;
  padding: 4% 16px;
}

.privacyContent {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  height: auto;
}

.privacySidebar {
  width: 25%;
  /* display: none; */
}

.sideBarItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.3vw;
  margin-top: 2%;
  cursor: pointer;
}

.privacyMainContent {
  width: 75%;
  gap: 10px;
  border-left: 2px solid black;
  padding-left: 10px;
  overflow-y: auto;
}

.contentSection {
  margin-bottom: 10px;
}

.sectionHeading {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  font-size: 1.4vw;
  color: #2d3a2d;
}

.infoIcon {
  font-size: 1.2vw;
}

.sectionTitle {
  font-size: 16px;
  color: #2d3a2d;
}

.privacyMobile {
  display: block;
  width: 100%;
}

.mobileSection {
  margin-bottom: 10px;
}

.mobileSectionHeading {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 12px;
  color: #2d3a2d;
}

.mobileIcon {
  font-size: 1.25rem;
  margin-left: auto;
}

.mobileSectionTitle {
  font-size: 1rem;
  color: #2d3a2d;
  font-weight: medium;
  padding-left: 12px;
  padding-right: 12px;
}

.privacyMobile {
  display: none;
}

/* Show sidebar on larger screens */
@media screen and (max-width: 768px) {
    .privacySidebar {
        display: none;
      }
  .privacyMobile {
    display: block;
  }

  .privacyMainContent {
    display: none;
  }
}
